body{
    background-color: black;
    color: #fff;
}
.center
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;


}
#clock{
    font-size: 30px;
    background-color: rgb(248, 171, 6);
    padding: auto;
    margin-top: 10px;
    border-radius: 10px;

}