/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the body */
body {
    background-color: #1b1a1a;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container styling */
.container {
    background: rgb(98, 97, 97);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

/* Heading */
h1 {
    margin-bottom: 1rem;
    color: #f9f8f8;
}

/* Input + Button container */
.input-container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

/* Input field */
input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Button styling */
button {
    padding: 0.5rem 1rem;
    background-color: #631fe3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:-webkit-grabbing;
    font-size: 1rem;
}

button:hover {
    background-color: #005fa3;
}

/* Weather info */
#weather-info {
    margin-top: 1rem;
}

#city-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#temperature {
    font-size: 1.2rem;
    color: #444;
}

#description {
    font-size: 1rem;
    color: #666;
}

/* Error message */
#error-message {
    color: red;
    margin-top: 1rem;
}

/* Hidden class */
.hidden {
    display: none;
}
